<html lang="en">
    <%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="about content">
     <h2>About Us</h2> 
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, nihil!</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores veniam ad ex amet harum deserunt.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos odit debitis nemo?</p>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, ad.</p>
    </div>
    <%- include('./partials/footer.ejs')  %> 

</body>
</html>